@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #333333;
  margin: 20px;
  padding: 0;
}

.titleH1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 40px;
}

.boardTBL  {
  width: 100%; 
  margin: 0 auto; 
  border-collapse: collapse;
  margin-bottom: 30px; 
  border-radius: 30px;
  border: none;
  box-shadow: none;
}

.boardTBL tr:nth-child(odd) {
  background-color: #808080;
}

.boardTBL tr:nth-child(even) {
  background-color: #A0A0A0;
}

.boardTBL td {
  padding: 15px; 
  border: none;
  text-align: left;
  color: white; 
  font-size: 18px;
  border-radius: 30px;
}

.boardTBL th {
  padding: 15px;
  border: none;
  background-color: rgba(245, 245, 245, 0.9);
  color: white;
  font-weight: bold;
  text-align: left;
  border-radius: 30px;
}