@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: #444444;
}

.titleH1 {
    color: white;
 	font-weight: 700;
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.container {
	display: flex;
	justify-content: center;
	background-color: #333333;
}

.chart-container {
	background-color: #333333;
}

.heading {
	text-align: center;
	color: white;
	font-size: 36px;
	padding: 10px 0;
	background-color: #333333;
}

#movieChart {
	margin: 20px auto;
	width: 1200px; height : 700px;
	background-color: #333333;
	height: 700px;
}



text.movie-title tspan {
	x: 0;
	dy: 1.2em;
}