<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.board.MovieBoardMapper">
	<insert id="regMovieBoard"
		parameterType="com.movie.board.MovieBoard">
		insert into movieboard(b_no,b_title, b_content, b_writter)
		 values(movieboard_seq.nextval, #{b_title},
		  #{b_content }, #{b_writter } )
	</insert>
	<select id="listMovieBoard"
		resultType="com.movie.board.MovieBoard">
		select * from movieboard
	</select>
	
	<select id="detailMovieBoard"
		parameterType="int"
		resultType="com.movie.board.MovieBoard">
		select * from movieboard where b_no = #{b_no }
	</select>
	
	<update id="updateMovieBoard" parameterType="MovieBoard">
		update movieboard set b_title=#{b_title}, b_content=#{b_content}
		where b_no = #{b_no}
	</update>
	
	<delete id="deleteMovieBoard" parameterType="int">
		delete from movieboard where b_no=#{b_no}
	</delete>
	
		
	
	
</mapper>

