<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.member.MyMovieMapper">
	<insert id="regMyMovie" parameterType="com.movie.member.MyMovie">
		insert into mymovie(mm_no,mm_id, mm_name) 
		values(mymovie_seq.nextval, #{mm_id}, #{mm_name})
	</insert>
	<select id="listMyMovie" resultType="com.movie.member.MyMovie">
		select * from mymovie where mm_id = #{mm_id}
	</select>
	
	
	<delete id="deleteMyMovie" parameterType="int">
		delete from mymovie where mm_no=#{mm_no}
	</delete>
</mapper>